
.DS_Store
libcolorpicker/.DS_Store
libcolorpicker/.theos/.DS_Store
libcolorpicker/.theos/build_session
libcolorpicker/.theos/fakeroot
libcolorpicker/.theos/last_package
libcolorpicker/.theos/packages/me.nepeta.libcolorpicker-1.6.2-3
MitsuhaInfinity/MItsuhaInfinity/MItsuhaInfinity.xcodeproj/project.pbxproj
MitsuhaInfinity/MItsuhaInfinity/MItsuhaInfinity.xcodeproj/project.xcworkspace/contents.xcworkspacedata
MitsuhaInfinity/MItsuhaInfinity/MItsuhaInfinity.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MitsuhaInfinity/MItsuhaInfinity/MItsuhaInfinity.xcodeproj/project.xcworkspace/xcuserdata/sawyerjester.xcuserdatad/UserInterfaceState.xcuserstate
